.analytics-heading h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-primary);
  margin-bottom: 1.9rem;
}

.analytics-heading p {
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-primary);
}
.card {
  background-color: var(--bg-primary);
}
.card * {
  color: var(--text-primary) !important;
}
.table-heading > div {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 16px;
}
